@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  color: red;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0EA5E9; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
